
.Pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.normal{
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725847;
}
.fighting {
    background-color: #79301D;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}
.pokemon {
   display: flex;
   flex-direction: column;
   margin: 0.5rem;
   padding: 1rem 1.2rem;
   color: white;
   border-radius: 1rem;
}

/* #Bulbasaur, #Ivysaur, #Venusaur {
    background-color: #49d0b0;
}

#Charmander, #Charmeleon, #Charizard {
    background-color: rgb(233, 173, 63);
}

#Squirtle, #Wartortle, #Blastoise {
    background-color: rgb(63, 233, 227);
}

#Caterpie, #Metapod, #Butterfree {
    background-color: rgb(78, 217, 125);
} */

.pokemon .number {
    color:#ffffffc4;
    opacity: .7;
    text-align: right;
}

.pokemon .name {
    margin-bottom: 0;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0 -.2rem;
    list-style: none;
}

.pokemon .detail .types .type {
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    text-align: center;
    border-radius: 1rem;
    filter: brightness(1.1);
}

/* .pokemon .details .types .poison {
    background-color: #9749e5;
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

.pokemon .details .types .fire {
    background-color: #e1d061;
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

.pokemon .details .types .water {
    background-color: #4fccbb;
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

.pokemon .details .types .flying {
    background-color: #c578d8;
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

.pokemon .details .types .typebug {
    background-color: #5cc376;
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
} */

.pokemon .detail img {
    border-style: none;
    max-width: 85px;
    height: 85px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
   padding: .25rem .5rem;
   margin: .25rem 0;
   font-size: .825rem;
   color: white;
   background-color: #6c79db;
   
   border: none;
   border-radius: 1rem;

}

@media screen and (max-width: 360px) {
    .Pokemons{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 576px) {
    .Pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .Pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .Pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .Pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}